<div ng-include="'./components/includes/navbar.html'" ng-hide="vm.userAuth != undefined"></div>

<div class="container pt-5">
  <form class="form" ng-submit="vm.calculateAge(vm.newClient.birthDate); vm.registerClient(vm.newClient);">
    <h2 ng-hide="vm.userAuth != undefined">Ingrese sus datos</h2>
    <h2 ng-show="vm.userAuth != undefined">Ingrese los datos del cliente</h2>
    <hr>

    <div class="row">

      <div class="form-group col-6">
        <label for="">Cédula</label>
        <input type="text" class="form-control" ng-model="vm.newClient.idNumber">
      </div>

      <div class="form-group col-6">
        <label for="">Primer nombre</label>
        <input type="text" class="form-control" ng-model="vm.newClient.name1">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-6">
        <label for="">Segundo nombre</label>
        <input type="text" class="form-control" ng-model="vm.newClient.name2">
      </div>

      <div class="form-group col-6">
        <label for="">Primer apellido</label>
        <input type="text" class="form-control" ng-model="vm.newClient.lastName1">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-6">
        <label for="">Segundo apellido</label>
        <input type="text" class="form-control" ng-model="vm.newClient.lastName2">
      </div>

      <div class="form-group col-6">
        <label for="">Correo electrónico</label>
        <input type="email" class="form-control" ng-model="vm.newClient.email">
      </div>

    </div>

    <div class="row">

      <div class="form-group col-6">
        <label for="">Fecha de nacimiento</label>
        <input type="date" class="form-control" ng-model="vm.newClient.birthDate">
      </div>

      <div class="form-group col-6">
        <label for="">Teléfono</label>
        <input type="text" class="form-control" ng-model="vm.newClient.phone">
      </div>

    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="">Contraseña</label>
        <input type="password" class="form-control" ng-model="vm.newClient.password">
      </div>
      <div class="form-group col-6">
        <label for="">Confirme su contraseña</label>
        <input type="password" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <button type="sumbmit" class="btn btnReg">Registrar</button>
    </div>
  </form>
</div>