<div ng-include="'./components/includes/navbar.html'"></div>

<div  id="logIn" class="container pt-5">
  <h2 class="pt-5">Ingrese sus datos</h2>
  <hr>
  <form class="form" ng-submit="vm.logIn(vm.user)">
    <div class="form-group col-md-6">
      <input type="text" placeholder="Correo electrónico" class="form-control" ng-model="vm.user.email">
    </div>
    <div class="form-group col-md-6">
      <input type="password" placeholder="Contraseña" class="form-control" ng-model="vm.user.password">
    </div>
    <div class="form-group col-6">
      <button type="submit" class="btn btnReg">Iniciar sesión</button>
      <p class="message  pt-3">¿No tiene cuenta?
        <a ui-sref="registerUser">Crear cuenta</a>
      </p>
    </div>
  </form>
</div>