<form class="">
    <div class=" col-12 col-md-4 mt-4 mb-4">
      <h3>Buscar hotel</h3>
      <input type="text" class="form-control" ng-model="searchHotel" placeholder="Ingrese lo que desea buscar">
    </div>
  </form>

<div class="jumbotron fixImage" ng-repeat="hotel in vm.hotelsList | filter:searchHotel">
      <h1 class="display-4">{{hotel.name}}</h1>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6">
          <ng-map id="map" center="{{hotel.latitude}}, {{hotel.longitude}}" styles="width: 50%; height: 20em;">
            <marker position="{{hotel.latitude}}, {{hotel.longitude}}"></marker>
          </ng-map>
        </div>
        <div class="col-md-6 col-12">
          <img src="{{hotel.photo}}" class="img img-fluid img-circle">
        </div>
      </div>
      <hr class="my-4">
      <p>Hotel ubicado en {{hotel.province}}, {{hotel.canton}}, {{hotel.district}}.</p>
      <p>Dirección exacta: {{hotel.exactDirection}}.</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6">
          <h3>Servicio</h3>
          <p>Numéro telefónico: {{hotel.servicePhone}}</p>
          <p>Correo electrónico: {{hotel.serviceEmail}}</p>
        </div>
        <div class="col-md-6">
          <h3>Reservaciones</h3>
          <p>Numéro telefónico: {{hotel.reservationPhone}}</p>
          <p>Correo electrónico: {{hotel.reservationEmail}}</p>
        </div>
      </div>
      <p class="lead"><button class="btn btn-lg logOut btnModify" ng-click="vm.modify(hotel)" ng-hide="vm.userAuth != 'administrador@hoteleria.cr'">Modificar Información</button></p>
      <p class="lead"><button class="btn btn-lg logOut btnModify" ng-click="vm.modify(hotel)" ng-hide="vm.userAuth == 'administrador@hoteleria.cr'">Calificar hotel</button></p>
</div>
<!-- <table class="table">
  <h1 class="col-12">Hoteles</h1>
  <hr/>
  <thead class="table-primary">
    <tr>
      <th>Imagen</th>
      <th>Nombre</th>
      <th>Ubicación en el mapa</th>
      <th>Dirección</th>
      <th>Dirección exacta</th>
      <th>Teléfono de servicio</th>
      <th>Correo electrónico de servicio</th>
      <th>Teléfono de reservaciones</th>
      <th>Correo electrónico para reservaciones</th>
      <th>Modificar</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="hotel in vm.hotelsList">
      <td>
        <img src="{{hotel.photo}}" width="60" height="60">
      </td>
      <td>{{hotel.name}}</td>
      <td>{{hotel.getLocation()}}</td>
      <td>{{hotel.getDirection()}}</td>
      <td>{{hotel.exactDirection}}</td>
      <td>{{hotel.servicePhone}}</td>
      <td>{{hotel.serviceEmail}}</td>
      <td>{{hotel.reservationPhone}}</td>
      <td>{{hotel.reservationEmail}}</td>
      {{hotel.latitude}}, {{hotel.longitude}}

      <td>
        <button class="btn " type="button" ng-click="vm.modify(hotel)">
          <i class="far fa-edit"></i>
        </button>
      </td>

      <td><button type="button" class="btn" ng-click="vm.cambiarEstado('inactivo', usuario)"><i class="far fa-times-circle"></i></button></td>
    </tr>
  </tbody>
</table> -->