// Estilos generales
body {
  background: #F5F5F5;

  aside{
    height: 100vh;

    a{
      &:hover{
        background: #AACD7D;
      }
    }
  }

  .greenBg{
    background: #9EBF6D;
  }

  .text-white{
    color: #fff;
  }
  .logOut{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
  }
  .btnModify{
    background-color: #9EBF6D;
    padding: 0.3em;
    color:white;
  }
  .btnModify{
    &:hover{
      background: #BAD696;
    }
  }
}