<form class="">
    <div class=" col-12 col-md-4 mt-4 mb-4">
      <h3>Buscar usuario</h3>
      <input type="text" class="form-control" ng-model="searchHotel" placeholder="Búsqueda de usuarios">
    </div>
  </form>

<div class="row">
    <div class="col-md-6" ng-repeat="user in vm.usersList | filter:searchUser" ng-if="user.type === '1'">
        <div class="jumbotron">
            <img src="../../../sources/images/user.png" class="img img-responsive img-circle" width="100" height="100">
            <h4 class="display-4">{{user.name1}} {{user.name2}} {{user.lastName1}}</h4>
            <hr class="my-4">
            <p>Cédula: {{user.idNumber}}</p>
            <p>Correo electrónico: {{user.email}}</p>
            <p>Numero telefónico: {{user.phone}}</p>
            <p>Fecha de nacimiento: {{user.birthDate | date}}</p>
            <hr class="my-4">
            <p class="lead">
                <button class="btn btn-lg logOut btnModify" ng-click="vm.modify(user)">Modificar Información</button>
            </p>
            <p class="lead">
                <button class="btn btn-lg logOut btnModify" ng-click="vm.changeState('inactivo', user)">Desactivar</button>
            </p>
        </div>
    </div>
</div>