// Estilos generales
body {
  background: #F5F5F5; 

  aside{
    height: 100vh;

    a{
      &:hover{
        background: #AACD7D;
      }
    }
  }

  .greenBg{
    background: #9EBF6D;
    
  }
  .modNav{
    border: none;

    &:hover{
      background: #BAD696;
    }

  }
  .jumbotron{
    transition: border 0.2s ease-in-out;
  }

  .text-white{
    color: #fff;
  }
  .logOut{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
  }
  .btnModify{
    background-color: #9EBF6D;
    padding: 0.3em;
    color:white;
    &:hover{
      background: #BAD696;
    }
    
  }
  .btnReg{
    padding-left: 0.8em;
    padding-right: 0.8em;
    background-color: #9EBF6D;
    color:white;
    &:hover{
      background: #BAD696;
    }
  }
  .mapHotReg{
    width: 100%; 
    height: 20em;
  }
}


.btnReg{
  padding: 0.6em;
}

#logIn{
  a{
    color: #9EBF6D;
  }
}

